$main-blue: rgba(4, 97, 174, 0.91);
//$main-blue: rgba(4, 97, 174, 0.91);

$submit-green: #00950b;
$danger-red: #f60505;
$link:#0462ad;

$light-blue: #1b8fea;

$text-color: white;
$text-color-active: rgb(193, 193, 193);

$modal-small-text: rgba(91, 91, 89, 0.78);
